
<div *ngIf="servicioBackend.autorized; else templateNoAutorized">

  <div class="my-4">

    <div class="d-flex">
    
      
      <button type="button" class="btn btn-warning mx-2" (click)="modoEdicion = false"
              data-bs-toggle="modal" data-bs-target="#addModal">Agregar Grupo</button>

      <button type="button" class="btn btn-primary mx-2"
              data-bs-toggle="modal" data-bs-target="#asignarModal">Crear Relacion</button>
        
    </div>

  </div>

  <div>
    <table class="table table-hover">
      <thead>
        <th>Grupo</th>
        <td>Descripcion</td>
        <td>Horario</td>
      </thead>

      <tbody>
        <tr *ngFor="let grupo of listaGrupos">
          <td>{{grupo.nombre}}</td>
          <td>{{grupo.descripcion}}</td>
          <td>{{grupo.horario}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="verUsuarios(grupo)"
              data-bs-toggle="modal" data-bs-target="#estudiantes"        
            >Ver estudiantes</button>
        </td>
          <td>
            <!-- <button type="button" class="btn btn-warning" (click)="entrarModoEdicion(grupo)"
                    data-bs-toggle="modal" data-bs-target="#asignarModal"        
                    >Asignar</button> -->
          </td>

          <td>
            <button type="button" class="btn btn-primary" (click)="entrarModoEdicion(grupo)"
                    data-bs-toggle="modal" data-bs-target="#addModal"        
                    >Editar</button>
          </td>
          <td>

            <button   (click)="eliminarGrupo(grupo.id)"
                      type="button" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>


<!-- Modal ver usuarios -->
<div class="modal fade" id="estudiantes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estudiantes por Grupo</h5>
      </div>
      <div class="modal-body">

      <div>
          <table class="table table-hover">
            <thead>
              <td>Apellidos</td>
              <td>Nombre</td>
              <td>Correo</td>
              <td>Nota</td>
              
            </thead>
      
            <tbody>
              <tr *ngFor="let usuario of listaUsuariosGrupo">
                <td>{{usuario.apellidos}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.email}}</td>
                <td>{{obtenerNotas(usuario.id)}}</td>
                

            
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer" *ngIf="!modoEdicion; else botonEdit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>





<!-- Modal asignar --> 
<div class="modal fade" id="asignarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Usuario a grupo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <div class="my-4" [formGroup]="formGroupUsuariosGrupo">

          <div class="d-flex">
            <label for="tipoU" class="mx-2">Seleccione <strong>Usuario</strong> a asignar</label>
            <select  name="" id="usuarioA" class="mx-2 w-25"  formControlName = "usuarioId">
              <option [value]="usuario.id" *ngFor="let usuario of listaUsuarios">
                {{usuario.apellidos +' '+ usuario.nombre}}
              </option>
            </select>
            <!-- <button (click)="filtroUsuarioPorTipo()"
                    type="button" class="ms-2 btn btn-success mx-2">Filtrar</button> -->
          
        
          </div>
      
          <div class="d-flex mt-4">
            <label for="tipoU" class="mx-2">Seleccione <strong>Grupo</strong></label>
            <select  name="" id="grupoA" class="mx-2 w-25"  formControlName = "grupoId">
              <option [value]="grupo['id']" *ngFor="let grupo of listaGrupos">
                {{grupo['nombre']}}
              </option>
            </select>
            
          </div>
          <div class="d-flex mt-4">
            <label for="tipoU" class="mx-2">Seleccione <strong>Programa Academico</strong></label>
            <select  name="" id="grupoA" class="mx-2 w-25"  formControlName = "programaAcademico">
              <option [value]="programa['id']" *ngFor="let programa of listaProgramas">
                {{programa['nombre']}}
              </option>
            </select>
            
          </div>
          <div class="d-flex mt-4 mb-3 w-50">
            <label class="form-label">Calificacion</label>
            <input formControlName = "calificaciones"
                    type="text" class="mx-3 form-control" id="codigoInput" placeholder="Ingrese calificacion">
          </div>
      
        
        </div>
      

      </div>
      <div class="modal-footer" *ngIf="!modoEdicion; else botonEdit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button   (click)="crearRelacion()"
        type="button" class="btn btn-warning mx-2" >Agregar</button>
      </div>
    </div>
  </div>
</div> 

<!-- Modal agregar-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroupGrupo">


          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input formControlName = "nombre"
                    type="text" class="form-control" id="nombreInput" placeholder="Ingrese nombre del grupo">
          </div>

          <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <input formControlName = "descripcion"
                    type="text" class="form-control" id="descInput" placeholder="Ingrese descripcion">
          </div>

          <div class="mb-3">
            <label class="form-label">Horario</label>
            <input formControlName = "horario"
                    type="text" class="form-control" id="apellidosInput" placeholder="Ingrese horario">
          </div>

          <div class="mb-3">
            <label class="form-label">AsignaturaId</label>

            <select name="" id="" formControlName = "asignaturaId">
              <option value="{{asignatura.id}}" *ngFor="let asignatura of listaAsignaturas">
                {{asignatura.nombre}}
              </option>
            
            </select>

            <!-- <input formControlName = "asignaturaId"
                    type="text" class="form-control" id="edadInput" placeholder="Ingrese asignatura Id"> -->
          </div>

          
  
        </form>
        
      </div>
      <div class="modal-footer" *ngIf="!modoEdicion; else botonEdit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button   (click)="crearGrupo()"
                  type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<ng-template #templateNoAutorized>

  <h1>No estas autorizado</h1>

</ng-template>


<ng-template #botonEdit>
  <div class="modal-footer">
    <button   (click)="modoEdicion = false"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button   (click)="editarGrupo()"
              type="button" class="btn btn-warning">Save changes</button>
  </div>
</ng-template>
