
<div *ngIf="servicioBackend.autorized; else templateNoAutorized">

  <div class="my-4">

    <div class="d-flex">
      <label for="tipoU" class="mx-2">Seleccione tipo de usuario:</label>
      <select   [(ngModel)] = "tipoFiltro" (change)="filtroUsuarioPorTipo()"
                name="" id="tipoU" class="mx-2">
        <option [value]="option.codigo" *ngFor="let option of tiposUsuarioFiltro">
          {{option.texto}}
        </option>
      </select>
      <!-- <button (click)="filtroUsuarioPorTipo()"
              type="button" class="ms-2 btn btn-success mx-2">Filtrar</button> -->
      <button type="button" class="btn btn-warning mx-2" (click)="modoEdicion = false"
              data-bs-toggle="modal" data-bs-target="#addModal">Agregar</button>
  
    </div>

  </div>

  <div>
    <table class="table table-hover">
      <thead>
        <th># Codigo</th>
        <td>Nombre</td>
        <td>Apellidos</td>
        <td>Edad</td>
        <td>Telefono</td>
        <td>Tipo</td>
        <td>Sexo</td>
        <td>Email</td>
        <td>Editar</td>
        <td>Borrar</td>
      </thead>

      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <th>{{usuario.codigo}}</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellidos}}</td>
          <td>{{usuario.edad}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.perfilAsignado}}</td>
          <td>{{usuario.sexo}}</td>
          <td>{{usuario.email}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="entrarModoEdicion(usuario)"
                    data-bs-toggle="modal" data-bs-target="#addModal"        
                    >Editar</button>
          </td>
          <td>

            <button   (click)="eliminarUsuario(usuario.id)"
                      type="button" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>



<!-- Modal agregar-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroupUsuario">

          <div class="mb-3">
            <label class="form-label" >Perfil Asignado</label>
            <select  formControlName = "perfilId"
                class="mx-2">
              <option  *ngFor="let option of tiposUsuario"[value]="option.codigo">
                {{option.texto}}
                </option>
          </select>

          </div>
          
          <div class="mb-3">
            <label class="form-label">Codigo</label>
            <input formControlName = "codigo"
                    type="text" class="form-control" id="codigoInput" placeholder="Ingrese su ID">
          </div>

          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input formControlName = "nombre"
                    type="text" class="form-control" id="nombreInput" placeholder="Ingrese nombre">
          </div>

          <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input formControlName = "apellidos"
                    type="text" class="form-control" id="apellidosInput" placeholder="Ingrese apellidos">
          </div>

          <div class="mb-3">
            <label class="form-label">Edad</label>
            <input formControlName = "edad"
                    type="text" class="form-control" id="edadInput" placeholder="Ingrese edad">
          </div>

          <div class="mb-3">
            <label class="form-label">Telefono</label>
            <input formControlName = "telefono"
                    type="text" class="form-control" id="telefonoInput" placeholder="Ingrese telefono">
          </div>

          <div class="mb-3">
            <label class="form-label">Dirección</label>
            <input formControlName = "direccion"
                    type="text" class="form-control" id="direccionInput" placeholder="Ingrese dirección">
          </div>

          <div class="mb-3">
            <label class="form-label">Sexo</label>
            <input formControlName = "sexo"
                    type="text" class="form-control" id="sexoInput" placeholder="Ingrese sexo">
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input formControlName = "email"
                    type="email" class="form-control" id="emailInput" placeholder="Ingrese email">
          </div>

          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input formControlName = "password"
                    type="password" class="form-control" id="passwordInput" placeholder="Ingrese contraseña">
          </div>

          <div class="mb-3">
            <label class="form-label">Creditos</label>
            <input formControlName = "creditos"
                    type="text" class="form-control" id="creditosInput" placeholder="Ingrese numero de creditos">
          </div>

          <div class="mb-3">
            <label class="form-label">Programa Academico</label>
            <input formControlName = "programaAcademicoId"
            type="text" class="form-control" id="programaAcademicoIdInput" placeholder="Ingrese Programa Academico">
          </div>

          <!-- <div class="mb-3">
            <label class="form-label">Perfil Id</label>
            <input formControlName = "perfilId"
            type="text" class="form-control" id="perfilIdInput" placeholder="Ingrese perfil Id">
          </div> -->

          
  
        </form>
        
      </div>
      <div class="modal-footer" *ngIf="!modoEdicion; else botonEdit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button   (click) = "crearUsuario()"
                  type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<ng-template #templateNoAutorized>

  <h1>No estas autorizado</h1>
  <button   routerLink="/login"
            type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            >Volver</button>

</ng-template>


<ng-template #botonEdit>
  <div class="modal-footer">
    <button   (click)="modoEdicion = false"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button   (click) = "editarUsuario()"
              type="button" class="btn btn-warning">Save changes</button>
  </div>
</ng-template>
