
<div>

  <div class="my-4" [formGroup]="formGroupUsuariosGrupo">

    <div class="d-flex">
      <label for="tipoU" class="mx-2">Seleccione <strong>Usuario</strong> a asignar</label>
      <select  name="" id="usuarioA" class="mx-2 w-25"  formControlName = "usuarioId">
        <option [value]="usuario['id']" *ngFor="let usuario of listaTodosLosUsuarios">
          {{usuario['apellidos']}} {{usuario['nombre']}}
        </option>
      </select>
      <!-- <button (click)="filtroUsuarioPorTipo()"
              type="button" class="ms-2 btn btn-success mx-2">Filtrar</button> -->
    
  
    </div>

    <div class="d-flex mt-4">
      <label for="tipoU" class="mx-2">Seleccione <strong>Grupo</strong></label>
      <select  name="" id="grupoA" class="mx-2 w-25"  formControlName = "grupoId">
        <option [value]="grupo['id']" *ngFor="let grupo of listaGrupos">
          {{grupo['nombre']}}
        </option>
      </select>
      
    </div>
    <div class="d-flex mt-4">
      <label for="tipoU" class="mx-2">Seleccione <strong>Programa Academico</strong></label>
      <select  name="" id="grupoA" class="mx-2 w-25"  formControlName = "programaAcademico">
        <option [value]="programa['id']" *ngFor="let programa of listaProgramas">
          {{programa['nombre']}}
        </option>
      </select>
      
    </div>
    <div class="mb-3 w-25">
      <label class="form-label">Calificacion</label>
      <input formControlName = "calificaciones"
              type="text" class="form-control" id="codigoInput" placeholder="Ingrese calificacion">
    </div>

    <button   (click)="crearRelacion()"
              type="button" class="btn btn-warning mx-2" >Agregar</button>
  </div>

  <div>
    <table class="table table-hover">
      <thead>
        <td>Estudiante</td>
        <td>Grupo asignado</td>
        <td>Editar</td>
        <td>Borrar</td>
        
      </thead>

      <tbody>
        <tr *ngFor="let usuario of listaGrupos">
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.grupo}}</td>
          <!-- <th>{{usuario.codigo}}</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellidos}}</td>
          <td>{{usuario.edad}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.perfilAsignado}}</td>
          <td>{{usuario.sexo}}</td>
          <td>{{usuario.email}}</td> -->
          <td>
            <button type="button" class="btn btn-primary" 
                    data-bs-toggle="modal" data-bs-target="#addModal"        
                    >Editar</button>
          </td>
          <td>

            <button   
                      type="button" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>







<ng-template #templateNoAutorized>

  <h1>No estas autorizado</h1>
  <button   routerLink="/login"
            type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            >Volver</button>

</ng-template>


<ng-template #botonEdit>
  <div class="modal-footer">
    <button  
              type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button   
              type="button" class="btn btn-warning">Save changes</button>
  </div>
</ng-template>
